[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "timeseriesdb"]
	path = timeseriesdb
	url = https://github.com/mbannert/timeseriesdb
